@model HomePageViewModel
@{
    ViewData["Title"] = "DC-3 World Tour";
}

<div class="text-center">
    <h1>Welcome to my DC-3 World Tour</h1>
    <h2>Last Flight</h2>
    <table class="table">
        <tr>
            <td>Origin:</td>
            <td>@Model.OriginAirportName, @Model.OriginCountry</td>
        </tr>
        <tr>
            <td>Destination:</td>
            <td>@Model.DestinationAirportName, @Model.DestinationCountry</td>
        </tr>
    </table>
</div>