@model HomePageViewModel
@{
    ViewData["Title"] = "DC-3 World Tour";
}

<div class="text-center">
    <h1>Welcome to my DC-3 World Tour</h1>
    <p>The last flight will go here...</p>
    <p>Last flight airport name: @Model.OriginAirportName</p>
</div>